---
import BlogHeader from "../features/blog/BlogHeader.astro";
import BlogLayout from "../layouts/BlogLayout.astro";
import BlogPreview from "../features/blog/BlogPreview.astro";
import CtaButton from "../ui/CtaButton.astro";
---

<div>
  <BlogLayout title="Artykuły prawne - Paulina Komenda" />
</div>
