---
const { title } = Astro.props;
---

<div class="flex gap-1 pb-3">
  <a href="/" class="cursor-pointer">Główna</a>
  <span> > </span>
  <a href="/blog" class="cursor-pointer">Blog</a>
  <span> > </span>
  <span>{title}</span>
</div>
