---

---

<section class="bg-[#B58C67] pt-20 pb-10" id="contact">
  <h2
    class="text-3xl font-cinzel sm:text-4xl pb-7 lg:pb-16 px-5 sm:px-[9.3vw] lg:text-5xl"
  >
    KONTAKT
  </h2>

  <div
    class="flex flex-col lg:flex-row lg:gap-[8vw] justify-between text-normal sm:text-lg lg:pr-[9.3vw]"
  >
    <div
      class="flex flex-col gap-[3.5vh] max-w-[365px] sm:max-w-[420px] pb-7 sm:ml-[13.8vw] md:px-0 lg:ml-[9.3vw] px-5 sm:px-0"
    >
      <h3 class="">
        Zadzwoń i umów się na spotkanie w kancelarii lub opisz w mailu swoją
        sprawę.
      </h3>
      <div class="flex gap-1 items-start">
        <img loading="lazy" src="IconLocation.svg" alt="Location Icon" />
        <span>ul. Ogrodowa 4/20 <br /> 15-011 Białystok</span>
      </div>
      <div class="flex gap-1 items-center">
        <img loading="lazy" src="IconClock.svg" alt="Clock Icon" />
        <span>poniedziałek - piątek 9:00 - 17:00 </span>
      </div>
      <div class="flex gap-1 items-center">
        <img loading="lazy" src="IconPhone.svg" alt="Phone Icon" />
        <a href="tel:+48698741258">698 741 258</a>
      </div>
      <div class="flex gap-1 items-center">
        <img loading="lazy" src="IconEmail.svg" alt="Email Icon" />
        <a href="mailto:kontakt@adwkomenda.pl">kontakt@adwkomenda.pl</a>
      </div>
      <div class="flex gap-1 items-center">
        <img loading="lazy" src="IconNIP.svg" alt="NIP Icon" />
        <span>NIP: 123456789</span>
      </div>
      <div class="flex gap-5 items-center">
        <img
          loading="lazy"
          src="/facebook.svg"
          alt="Facebook Icon"
          class="h-8 w-8 lg:h-9 lg:w-9 cursor-pointer hover:scale-110"
        />
        <img
          loading="lazy"
          src="/instagram.svg"
          alt="Instagram Icon"
          class="h-8 w-8 lg:h-9 lg:w-9 cursor-pointer hover:scale-110"
        />
        <img
          loading="lazy"
          src="/linkedin.svg"
          alt="Linkedin Icon"
          class="h-8 w-8 lg:h-9 lg:w-9 cursor-pointer hover:scale-110"
        />
      </div>
    </div>
    <div
      class="no-underline overflow-hidden w-full mx-auto h-[340px] sm:h-[367px] max-w-[90vw] max-h-[90vw] md:max-w-[80vw] md:max-h-[80vw] lg:max-w-[70vw] lg:h-[60vh] lg:max-h-[553px] border border-gray-700"
    >
      <div
        id="embed-map-canvas"
        class="w-full mx-auto h-[340px] sm:h-[367px] max-w-[90vw] max-h-[90vw] md:max-w-[80vw] md:max-h-[80vw] lg:max-w-[70vw] lg:h-[60vh] lg:max-h-[553px] flex justify-center items-center"
      >
        <!-- <iframe
          class="w-full mx-auto h-[340px] sm:h-[367px] max-w-[90vw] max-h-[90vw] md:max-w-[80vw] md:max-h-[80vw] lg:max-w-[70vw] lg:h-[60vh] lg:max-h-[553px]"
          src="https://www.google.com/maps/embed/v1/place?q=Białystok+Sienkiewicza+55&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"
          title="googlemap"
          loading="lazy"></iframe> -->
        <h2>Google status error ;(</h2>
      </div>
    </div>
  </div>
</section>
