---

---

<div
  class="no-underline overflow-hidden w-full mx-auto h-[340px] sm:h-[367px] max-w-[90vw] max-h-[90vw] md:max-w-[80vw] md:max-h-[80vw] lg:max-w-[70vw] lg:h-[60vh] lg:max-h-[553px] border border-gray-700 2xl:max-w-[1200px]"
>
  <div
    class="w-full mx-auto h-[340px] sm:h-[367px] max-w-[90vw] max-h-[90vw] md:max-w-[80vw] md:max-h-[80vw] lg:max-w-[70vw] lg:h-[60vh] lg:max-h-[553px] flex justify-center items-center 2xl:max-w-[1200px]"
  >
    <iframe
      title="Sienkiewicza 55a/90 Białystok Kancelaria Adwokacka Paulina Komenda"
      width="600"
      height="450"
      class="w-full mx-auto h-[340px] sm:h-[367px] max-w-[90vw] max-h-[90vw] md:max-w-[80vw] md:max-h-[80vw] lg:max-w-[70vw] lg:h-[60vh] lg:max-h-[553px] 2xl:max-w-[1200px]"
      loading="eager"
      allowfullscreen
      referrerpolicy="no-referrer-when-downgrade"
      src="https://www.google.com/maps/embed/v1/place?q=Sienkiewicza%2055a%2F90%2C%20Bia%C5%82ystok%2C%20Polska&key=AIzaSyBwBSYBNGnBKiyWP-Fogd9yL1KoYL7DQyA&maptype=satellite"
    >
    </iframe>
  </div>
</div>
