---
import PostLayout from "../../layouts/PostLayout.astro";
import Header from "../../components/Header.astro";
import BreadCrumbs from "../../features/blog/article/breadCrumbs.astro";
const { slug } = Astro.params;

let Post;

try {
  Post = await import(`../../content/posts/${slug}.md`);
  console.log(Post);
} catch (error) {
  console.error("Failed to import post:", error);
  Post = null; // Or handle the error appropriately
}
---

<PostLayout title={Post ? Post.title : "Post Not Found"}>
  <Header animate={false} />
  <div class="pt-[20vh] px-[5vw]">
    <BreadCrumbs />
    {Post ? <Post.Content /> : <p>Post not found.</p>}
  </div>
</PostLayout>

<style></style>
