---
import PostLayout from "../../layouts/PostLayout.astro";
import Header from "../../components/Header.astro";
import BreadCrumbs from "../../features/blog/article/breadCrumbs.astro";
import headerEffects from "../../helpers/headerEffects";
const { slug } = Astro.params;

let Post;
try {
  Post = await import(`../../content/posts/${slug}.md`);
  console.log("post : ", Post.frontmatter.title);
} catch (error) {
  console.error("Failed to import post:", error);
  Post = null; // Or handle the error appropriately
}
---

<PostLayout title={Post ? Post.title : "Post Not Found"}>
  <Header animate={false} />
  <div class="pt-[20vh] px-[5vw]">
    <BreadCrumbs title={Post ? Post.frontmatter.title : "Post Not Found"} />
    {Post ? <Post.Content /> : <p>Post not found.</p>}
  </div>
</PostLayout>

<script type="module">
  import headerEffects from "../../helpers/headerEffects.js";
  headerEffects();
</script>
