---

---

<div class="min-h-[80vh] w-full" id="background">
  <div
    class="fixed left-0 top-0 -z-10 min-h-full w-full bg-[url('/statuaMobile.svg')] bg-cover bg-center bg-no-repeat opacity-100 sm:bg-[url('/statuaFull.svg')] sm:bg-right-top 2xl:mx-auto"
  >
  </div>
</div>
