---

---

<section
  class="pt-[12vh] px-5 lg:gap-[4vw] lg:px-[5vw] sm:mx-auto sm:max-w-[688px] sm:px-5 md:max-w-[688px] md:px-0 lg:mx-0"
>
  <h2 class="text-3xl font-cinzel">BLOG</h2>
  <!-- Will be added later when more blog post will be available -->
  <!-- <div class="text-sm flex gap-5 items-center">
    <span>Prawo rodzinne</span>
    <span class="bg-[#B58C67] px-2 py-1">Prawo cywilne</span>
    <span>Prawo karne</span>
  </div> -->
</section>
