/* Cinzel-regular */
@font-face {
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../fonts/Cinzel-Regular.woff2") format("woff2"),
    url("../fonts/Cinzel-Regular.ttf") format("truetype");
}

/* Cinzel-medium */
@font-face {
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url("../fonts/Cinzel-Medium.woff2") format("woff2"),
    url("../fonts/Cinzel-Medium.ttf") format("truetype");
}

/* Cinzel-semibold */
@font-face {
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url("../fonts/Cinzel-SemiBold.woff2") format("woff2"),
    url("../fonts/Cinzel-SemiBold.ttf") format("truetype");
}

/* Cinzel-bold */
@font-face {
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("../fonts/Cinzel-Bold.woff2") format("woff2"),
    url("../fonts/Cinzel-Bold.ttf") format("truetype");
}

/* Cinzel-extrabold */
@font-face {
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:
    url("../fonts/Cinzel-ExtraBold.woff2") format("woff2"),
    url("../fonts/Cinzel-ExtraBold.ttf") format("truetype");
}

/* Open Sans regular */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../fonts/open-sans-v40-latin-regular.woff2") format("woff2"),
    url("../fonts/open-sans-v40-latin-regular.ttf") format("truetype");
}

/* Open Sans medium (500) */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url("../fonts/open-sans-v40-latin-500.woff2") format("woff2"),
    url("../fonts/open-sans-v40-latin-500.ttf") format("truetype");
}

/* Open Sans semibold (600) */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url("../fonts/open-sans-v40-latin-600.woff2") format("woff2"),
    url("../fonts/open-sans-v40-latin-600.ttf") format("truetype");
}

/* Open Sans bold (700) */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("../fonts/open-sans-v40-latin-700.woff2") format("woff2"),
    url("../fonts/open-sans-v40-latin-700.ttf") format("truetype");
}

/* Open Sans extrabold (800) */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:
    url("../fonts/open-sans-v40-latin-800.woff2") format("woff2"),
    url("../fonts/open-sans-v40-latin-800.ttf") format("truetype");
}
