---
import BlogHeader from "../features/blog/BlogHeader.astro";
import BlogLayout from "../layouts/BlogLayout.astro";
import { BlogPreview } from "../features/blog/BlogPreview";
---

<BlogLayout title="Artykuły prawne - Paulina Komenda">
  <BlogHeader />
  <div class="flex flex-col gap-10 mt-10">
    <BlogPreview client:load />
  </div>
</BlogLayout>
