---
import BlogHeader from "../features/blog/BlogHeader.astro";
import BlogLayout from "../layouts/BlogLayout.astro";
import BlogPreview from "../features/blog/BlogPreview.astro";
---

<div>
  <BlogLayout title="Artykuły prawne - Paulina Komenda">
    <main class="min-h-screen w-full">
      <BlogHeader />
      <BlogPreview />
    </main>
  </BlogLayout>
</div>
