---
import Hero from "../features/hero/hero.astro";
import About from "../features/about/about.astro";
import { Services } from "../features/services/Services";
import Layout from "../layouts/Layout.astro";
import { Background } from "../ui/Background";
import { Reviews } from "../features/reviews/Reviews";
import { Blog } from "../features/blog/Blog";
import Contact from "../features/contact/contact.astro";
---

<Layout title="Paulina Komenda Kancelaria Adwokacka">
  <main class="overflow-hidden">
    <div
      class="absolute top-0 w-full min-h-screen bg-[#0E1F2A] flex items-center justify-center animate-slideLeft"
    >
      <img
        src="/animationLogo1440.svg"
        alt="Logo"
        class="animate-revealLogo px-10 opacity-0"
      />
    </div>

    <Hero />
    <div class="invisible animate-showRestOfThePage">
      <Services client:only="react" />
      <div>
        <About />
        <Background client:idle />
        <Reviews client:only="react" />
      </div>
      <Blog client:only="react" />
      <Contact />
    </div>
  </main>
</Layout>
