---
import Hero from "../features/hero/hero.astro";
import About from "../features/about/about.astro";
import { Services } from "../features/services/Services";
import Layout from "../layouts/Layout.astro";
import { Background } from "../ui/Background";
import { Reviews } from "../features/reviews/Reviews";
import { Blog } from "../features/blog/Blog";
import Contact from "../features/contact/contact.astro";
---

<Layout title="Paulina Komenda Kancelaria Adwokacka">
  <main class="overflow-hidden relative">
    <div
      class="fixed inset-0 w-full h-screen bg-[#0E1F2A] flex items-center justify-center animate-slideLeft"
    >
      <img
        src="/animationLogo1440.svg"
        alt="Logo"
        class="animate-revealLogo px-10 opacity-0"
      />
    </div>

    <Hero />
    <div>
      <Services client:only="react" />
      <div>
        <About />
        <Background client:idle />
        <Reviews client:only="react" />
      </div>
      <Blog client:only="react" />
      <Contact />
    </div>
  </main>
  <!-- <main>
    <div class="bg-blue-300 h-screen"></div>
    <div class="bg-purple-200 h-screen"></div>
    <div class="bg-orange-300 h-screen"></div>
    <div class="bg-[#0E1F2A] h-screen"></div>
    <div class="bg-[#233f0c] h-screen"></div>
    <div class="bg-[#db4747] h-screen"></div>
  </main> -->
</Layout>
