---
import CtaButton from "../ui/CtaButton.astro";
import Menu from "./Menu.astro";

interface Props {
  animate: boolean;
  mainPage: boolean;
}

const { animate, mainPage = false } = Astro.props;
---

<nav
  id="navbar"
  class={`fixed top-0 z-10 w-full menu-transparent ${animate === true && "animate-animateNavbar invisible -z-50 -top-26 "}`}
>
  <div class="max-w-[1600px] mx-auto px-5 sm:px-10 py-[1vh]">
    <div class="flex justify-between">
      <a href="/" aria-label="link to homepage">
        <img
          id="logoKancelaria"
          src="/newLogo.svg"
          alt="logoKancelariaPaulinaKomenda"
          class="h-full max-h-[67px] w-full max-w-[235px] min-w-[235px] cursor-pointer nav-logo"
          loading="eager"
        />
      </a>
      <div
        class="hidden lg:flex gap-12 2xl:gap-16 font-normal font-sans items-center"
      >
        <a
          href={`${mainPage ? "#services" : "/#services"}`}
          class=`h-fit whitespace-nowrap font-semibold cursor-pointer {${mainPage && "nav-link"} hover:text-[#B58C67] active:text-[#333333] focus:border-[#533630] menu-services`
          aria-label="link to services section">USŁUGI PRAWNE</a
        >
        <a
          href={`${mainPage ? "#about" : "/#about"}`}
          class=`h-fit whitespace-nowrap font-semibold cursor-pointer {${mainPage && "nav-link"} hover:text-[#B58C67] active:text-[#333333] focus:border-[#533630] menu-about`
          aria-label="link to about section">O MNIE</a
        >
        <a
          href={`${mainPage ? "#blog" : "/blog"}`}
          class=`h-fit whitespace-nowrap font-semibold cursor-pointer {${mainPage && "nav-link"} hover:text-[#B58C67] active:text-[#333333] focus:border-[#533630] menu-blog`
          aria-label="link to blog section">BLOG</a
        >
        <a
          href={`${mainPage ? "#contact" : "/#contact"}`}
          class=`{${mainPage && "nav-link"} menu-contact`
          aria-label="link to contact"
        >
          <CtaButton text="KONTAKT" variant="contain" />
        </a>
      </div>
      <div class="lg:hidden flex items-center">
        <button class="outline-none mobile-menu-button">
          <svg
            class="w-6 h-6 hamburger-icon"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
          <svg
            class="w-6 h-6 hidden close-icon"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile hamburger menu -->
  <div
    class="hidden mobile-menu absolute top-0 left-0 w-full h-screen z-40 animation-menu-slide-out"
  >
    <div class="min-h-screen bg-[#EEE5DA] px-5 py-[1vh] pb-12">
      <Menu mainPage={mainPage} />
    </div>
  </div>
</nav>

<style>
  .menu-transparent {
    background-color: transparent;
    color: black;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }

  .menu-light {
    background-color: #eee5da;
    color: black;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }

  .menu-dark {
    background-color: #0e1f2a;
    color: #b58c67;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }

  @keyframes slide-down {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slide-up {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }

  .animation-menu-slide-in {
    animation: slide-down 0.7s forwards;
  }

  .animation-menu-slide-out {
    animation: slide-up 0.7s forwards;
  }

  .overflow-hidden {
    overflow: hidden;
  }

  .mobile-menu {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
</style>

<script>
  import headerEffects from "../helpers/headerEffects.js";
  headerEffects();
</script>
