---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "LegalService",
        "name": "Kancelaria Adwokacka Paulina Komenda Białystok",
        "description": "Kancelaria Adwokacka Paulina Komenda Białystok - kompleksowa obsługa klientów w zakresie prawa rodzinnego, karnego, cywilnego oraz spadkowego.",
        "url": "https://example.com/uslugi-prawne",
        "contactPoint": {
          "@type": "ContactPoint",
          "telephone": "+48508726150",
          "contactType": "Customer Service",
          "areaServed": "PL",
          "availableLanguage": ["Polish", "English"]
        }
      }
    </script>
    <script
      id="Cookiebot"
      src="https://consent.cookiebot.com/uc.js"
      data-cbid="6f12c5da-6d0e-426a-9d66-ecb71c5a273d"
      type="text/javascript"></script>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Preconnect to Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- Preload Fonts -->
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />

    <!-- Fallback if JS is disabled -->
    <noscript>
      <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet"
      />
      <link
        href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap"
        rel="stylesheet"
      />
    </noscript>

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });

        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s) as HTMLScriptElement, // Explicitly typing j as HTMLScriptElement
          dl = l != "dataLayer" ? "&l=" + l : "";

        j.async = true; // Now TypeScript knows async exists on j
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;

        f.parentNode!.insertBefore(j, f); // Add a non-null assertion to avoid any possible null errors
      })(window, document, "script", "dataLayer", "GTM-MJV6G6WP");
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <section class="relative">
      <Header animate={false} />
      <slot />
      <Footer />
    </section>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-MJV6G6WP"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
  </body>
</html>
