---
import { ViewTransitions } from "astro:transitions";
import "../styles/fonts.css";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="pl">
  <head>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "LegalService",
        "name": "Kancelaria Adwokacka Adwokat Paulina Komenda",
        "description": "Kancelaria Adwokacka Adwokat Paulina Komenda Białystok - świadczymy usługi prawne z zakresu prawa cywilnego, karnego, rodzinnego i spadkowego.",
        "url": "https://www.adwokatkomenda.pl/",
        "telephone": "+48508726150",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "ul. Henryka Sienkiewicza 55A/90",
          "addressLocality": "Białystok",
          "postalCode": "15-002",
          "addressCountry": "PL",
          "telephone": "+48508726150"
        },
        "contactPoint": {
          "@type": "ContactPoint",
          "telephone": "+48508726150",
          "contactType": "Customer Service",
          "areaServed": "PL",
          "availableLanguage": ["Polish", "English"]
        }
      }
    </script>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="robots" content="noindex">

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });

        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s) as HTMLScriptElement, // Explicitly typing j as HTMLScriptElement
          dl = l != "dataLayer" ? "&l=" + l : "";

        j.async = true; // Now TypeScript knows async exists on j
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;

        f.parentNode!.insertBefore(j, f); // Add a non-null assertion to avoid any possible null errors
      })(window, document, "script", "dataLayer", "GTM-MJV6G6WP");
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body class="bg-[#EEE5DA] pb-5">
    <slot />
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-MJV6G6WP"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
  </body>
</html>
